@model VillaNumberUpdateVM

@{
    ViewData["Title"] = "Edit Villa Number";
}
<div class="container p-4 border mt-3">
    <div class="row pb-2 mt-3">
        <div class="col">
            <h1 class="text-primary">Edit Villa Number</h1>
        </div>
        <form asp-action="UpdateVillaNumber">
            <input type="hidden" asp-for="VillaNumber.VillaNo"/>
            <br/>
            <div class="row">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="col-2">
                    <label asp-for="VillaNumber.VillaNo" class="control-label pt-2" style="font-size:20px;"></label>
                </div>
                <div class="col-10 pb-3">
                    <input asp-for="VillaNumber.VillaNo" class="form-control"/>
                    <span asp-validation-for="VillaNumber.VillaNo" class="text-danger"></span>
                </div>
                @*-------------------------------------------------------------------------*@
                <div class="col-2">
                    <label asp-for="VillaNumber.SpecialDetails" class="control-label pt-2" style="font-size:20px;"></label>
                </div>
                <div class="col-10 pb-3">
                    <input asp-for="VillaNumber.SpecialDetails" class="form-control"/>
                    <span asp-validation-for="VillaNumber.SpecialDetails" class="text-danger"></span>
                </div>
                @*-------------------------------------------------------------------------*@
                @*DROPDOWN*@
                <div class="col-2">
                    <label asp-for="@Model.VillaNumber.VillaID" class="control-label pt-2" style="font-size:20px;"></label>
                </div>
                <div class="col-10 pb-3">
                    <select asp-for="@Model.VillaNumber.VillaID" class="form-select" asp-items="@Model.VillaList">
                        <option disabled selected>---Select Villa---</option>
                    </select>
                    <span asp-validation-for="@Model.VillaNumber.VillaID" class="text-danger"></span>
                </div>
                @*-------------------------------------------------------------------------*@
                <div class="d-inline-flex justify-content-center">
                    <a asp-controller="VillaNumber" asp-action="Index" class="btn-primary btn form-control" style="width: 300px; margin-right: 10px;">Back</a>
                    <br/>
                    <input type="submit" value="Update" class="btn btn-success form-control" style="width: 300px;"/>
                </div>
            </div>
        </form>
        
    </div>
    
</div>


@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
}
